body {
  background-color: #282b2e;
  color: #ffff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* News Container */
.news-container {
  margin-top: 5vh;
  margin-bottom: 5vh;
}

.news-card {
  background-color: #222529;
  width: 350px;
  height: fit-content;
  margin-top: 100px;
  overflow: hidden;
  border-radius: 20px;
}

.news-top {
  overflow: hidden;
  width: 350px;
  height: 150px
}

.news-bottom {
  padding: 20px;
}



.news-bottom h3 {
  font-size: 1.5rem;
}

.news-card img {
  width: 350px;
  height: 200px
}


/* Menu */
.menu-icon {
  height: 30px;
  width: 30px;
  position: absolute;
  z-index: 13;
  top: 3vh;
  right: 2vh;
  cursor: pointer;
}

.menu-icon__line {
  height: 2px;
  width: 30px;
  display: block;
  background-color: #ffffff;
  margin-bottom: 4px;
  -webkit-transition: background-color 0.5s ease, -webkit-transform 0.2s ease;
  transition: background-color 0.5s ease, -webkit-transform 0.2s ease;
  transition: transform 0.2s ease, background-color 0.5s ease;
  transition: transform 0.2s ease, background-color 0.5s ease, -webkit-transform 0.2s ease;
}

.menu-icon__line-left {
  width: 15px;
}

.menu-icon__line-right {
  width: 15px;
  float: right;
}

.nav {
  position: fixed;
  z-index: 12;
}

.nav:before,
.nav:after {
  content: "";
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: rgba(234, 234, 234, 0.2);
  z-index: -1;
  -webkit-transition: -webkit-transform cubic-bezier(0.77, 0, 0.175, 1) 0.8s;
  transition: -webkit-transform cubic-bezier(0.77, 0, 0.175, 1) 0.8s;
  transition: transform cubic-bezier(0.77, 0, 0.175, 1) 0.8s;
  transition: transform cubic-bezier(0.77, 0, 0.175, 1) 0.8s, -webkit-transform cubic-bezier(0.77, 0, 0.175, 1) 0.8s;
  -webkit-transform: translateX(0%) translateY(-100%);
  transform: translateX(0%) translateY(-100%);
}

.nav:after {
  background: #282B2E;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}

.nav:before {
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
}

.nav__content {
  position: fixed;
  top: 50%;
  -webkit-transform: translate(0%, -50%);
  transform: translate(0%, -50%);
  width: 100%;
  text-align: center;
  font-size: calc(2vw + 10px);
  font-weight: 200;
  cursor: pointer;
  transition: top 1s;
}

.nav__content-hidden {
  top: 110%
}

.nav__list-item {
  position: relative;
  display: inline-block;
  -webkit-transition-delay: 0.8s;
  transition-delay: 0.8s;
  opacity: 0;
  -webkit-transform: translate(0%, 100%);
  transform: translate(0%, 100%);
  -webkit-transition: opacity 0.2s ease, -webkit-transform 0.3s ease;
  transition: opacity 0.2s ease, -webkit-transform 0.3s ease;
  transition: opacity 0.2s ease, transform 0.3s ease;
  transition: opacity 0.2s ease, transform 0.3s ease, -webkit-transform 0.3s ease;
  margin-right: 25px;
}

.nav__list-item:before {
  content: "";
  position: absolute;
  background: #ffffff;
  width: 20px;
  height: 1px;
  top: 100%;
  -webkit-transform: translate(0%, 0%);
  transform: translate(0%, 0%);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  z-index: -1;
}

.nav__list-item:hover:before {
  width: 100%;
}

body.nav-active .menu-icon__line {
  background-color: #fff;
  -webkit-transform: translateX(0px) rotate(-45deg);
  transform: translateX(0px) rotate(-45deg);
}

body.nav-active .menu-icon__line-left {
  -webkit-transform: translateX(1px) rotate(45deg);
  transform: translateX(1px) rotate(45deg);
}

body.nav-active .menu-icon__line-right {
  -webkit-transform: translateX(-2px) rotate(45deg);
  transform: translateX(-2px) rotate(45deg);
}

body.nav-active .nav {
  visibility: visible;
}

body.nav-active .nav:before,
body.nav-active .nav:after {
  -webkit-transform: translateX(0%) translateY(0%);
  transform: translateX(0%) translateY(0%);
}

body.nav-active .nav:after {
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}

body.nav-active .nav:before {
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}

body.nav-active .nav__list-item {
  opacity: 1;
  -webkit-transform: translateX(0%);
  transform: translateX(0%);
  -webkit-transition: opacity 0.3s ease, color 0.3s ease, -webkit-transform 0.3s ease;
  transition: opacity 0.3s ease, color 0.3s ease, -webkit-transform 0.3s ease;
  transition: opacity 0.3s ease, transform 0.3s ease, color 0.3s ease;
  transition: opacity 0.3s ease, transform 0.3s ease, color 0.3s ease, -webkit-transform 0.3s ease;
}

body.nav-active .nav__list-item:nth-child(0) {
  -webkit-transition-delay: 0.5s;
  transition-delay: 0.5s;
}

body.nav-active .nav__list-item:nth-child(1) {
  -webkit-transition-delay: 0.6s;
  transition-delay: 0.6s;
}

body.nav-active .nav__list-item:nth-child(2) {
  -webkit-transition-delay: 0.7s;
  transition-delay: 0.7s;
}

body.nav-active .nav__list-item:nth-child(3) {
  -webkit-transition-delay: 0.8s;
  transition-delay: 0.8s;
}

/* removing styling of menu items */
a {
  text-decoration: none;
  color: #ffffff;
}

a:hover {
  text-decoration: none;
  color: #ffffff;
}

/* SVG Container */
.world-data {
  margin-left: 14px;
}

.world-container {
  display: flex;
  margin-top: 4rem;
  margin-bottom: 1.5rem;
}

.world-data p {
  margin-bottom: 0;
  font-size: 0.8rem;
}

.world-data h2 {
  font-size: 1.5rem;
}

.svg-image {
  fill: white;
}

/* Subheading */
.sub-heading {
  margin: 0;
}

/* Sidebar */
.sidebar {
  background-color: #222529;
  display: block;
  overflow: auto;
  min-height: 100%;
  height: 100%;
  overflow-y: hidden;
  height: auto;
}

.side-heading {
  color: #ffffff;
  font-size: 23px;
  font-weight: 400;
  padding-top: 4vh;
}

.sidebar-row {
  display: flex;
  justify-content: space-between;
}

.unselected {
  background-color: #282b2e;
  color: #5a5d63;
  padding: 10px;
  text-align: center;
  border-radius: 5px;
  width: 6.25em;
}

.selected {
  background-color: #282b2e;
  color: #f0f0f0;
  padding: 10px;
  text-align: center;
  border-bottom: 2px solid #f6c879;
  border-radius: 5px;
  width: 6.25em;
}

.graph-container {
  margin-top: 5vh;
}

.about-heading {
  text-align: center;
  margin-top: 5vh;
}

.about-card {
  width: 22vw;
  border-radius: 25px;
  background-color: #222529;
  height: 50vh;
  min-height: 450px;
  min-width: 350px;
  max-height: 500px;
  max-width: 400px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 15vh;
  display: flex;
  flex-direction: column;
}

.about-card img {
  width: 6vw;
  min-width: 90px;
  max-width: 100px;
  border-radius: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  margin-top: 45px;
}

.about-card div {
  text-align: center;
}

.social-button {
  height: 50px;
  width: 120px;
  background-color: #282b2e;
  border-radius: 15px;
}

.fab {
  margin-top: 15%;
}

hr {
  background-color: #ffffff;
  margin-top: 45vh;
  width: 15vh;
  -webkit-transform: rotate(90deg);
}

/* Phone */
@media only screen and (max-width: 767px) {

  /* Menu */
  .menu-icon {
    width: 24px;
    height: 24px;
    top: 2vh
  }

  .menu-icon__line {
    height: 1.6px;
    width: 24px;
    display: block;
    background-color: #ffffff;
    margin-bottom: 3.2px;
    -webkit-transition: background-color 0.5s ease, -webkit-transform 0.2s ease;
    transition: background-color 0.5s ease, -webkit-transform 0.2s ease;
    transition: transform 0.2s ease, background-color 0.5s ease;
    transition: transform 0.2s ease, background-color 0.5s ease, -webkit-transform 0.2s ease;
  }

  .menu-icon__line-left {
    width: 12px;
  }

  .menu-icon__line-right {
    width: 12px;
    float: right;
  }

  .nav__list {
    padding-left: 20vw;
    padding-right: 0;
    text-align: left;
  }

  .nav__list-item {
    width: 100vw;
    margin-bottom: 5vh;
    justify-content: center;
  }

  /* Heading Component */
  .main-col {
    padding: 4vh 3vw 0 3vw;
  }

  .heading-container {
    padding-left: 7.5px;
  }

  .main-heading {
    color: #ffffff;
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 0;
  }

  .world-container {
    padding-left: 15vw;
  }

  .about-card {
    margin-top: 10vh;
  }

  hr {
    -webkit-transform: rotate(0deg);
    margin-top: 10vh;
    margin-bottom: 0;
  }

  /* Map Container  */
  .map-container {
    margin: 10% 0 10% 7.5px;
    border-radius: 30px;
    overflow: hidden;
    width: 90vw;
    height: 50vh;
  }
}

/* iPad */
@media only screen and (min-width: 768px) and (max-width: 1199px) {

  /* Heading Component */
  .main-col {
    padding: 4vh 3vw 0 3vw;
  }

  .heading-container {
    padding-left: 7.5px;
  }

  .main-heading {
    color: #ffffff;
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 0;
  }

  .world-icon-row {
    padding-left: 7.5px;
  }

  .about-card {
    margin-top: 10vh;
  }

  hr {
    -webkit-transform: rotate(0deg);
    margin-top: 10vh;
    margin-bottom: 0;
  }

  /* Map Container  */
  .map-container {
    margin: 10% 0 10% 7.5px;
    border-radius: 30px;
    overflow: hidden;
    width: 92vw;
    height: 40vh;
  }

  .map-inner-container {
    width: 67.5vw;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {

  .about-card {
    margin-right: auto;
    margin-left: auto;
    margin-top: 20vh
  }

  hr {
    background-color: #ffffff;
    margin-top: 45vh;
    width: 13vh;
    -webkit-transform: rotate(90deg);
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1399px) {

  /* Heading Component */
  .main-col {
    padding: 4vh 3vw 0 3vw;
  }

  .main-heading {
    color: #ffffff;
    font-size: 1.875rem;
    font-weight: 600;
    margin-bottom: 0;
  }


  /* Map Container  */
  .map-container {
    margin: 5% 0 0 7.5px;
    border-radius: 30px;
    overflow: hidden;
    width: 67.5vw;
    height: 60vh;
  }

  /* Sidebar Buttons*/
  #infected {
    flex-grow: 1;
    margin-right: 3px;
  }

  #deaths {
    flex-grow: 1;
    margin-left: 3px;
  }

  #recovered {
    flex-grow: 1;
    margin-top: 6px;
  }
}

/* Desktop */
@media only screen and (min-width: 1400px) {

  /* Heading Component */
  .main-col {
    padding: 3vh 0 0 3vw;
  }

  .main-heading {
    color: #ffffff;
    font-size: 1.875rem;
    font-weight: 600;
    margin-bottom: 0;
  }



  /* Map Container  */
  .map-container {
    margin-top: 2%;
    border-radius: 40px;
    overflow: hidden;
    width: 71vw;
    height: 66vh;
  }
}

@media only screen and (min-height: 670px) {
  .sidebar {
    background-color: #222529;
    height: 100vh;
  }
}